\\\\Button\\\\
.container{
    height: 100vh;
}

.wave-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

  .wave-button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .wave-button:hover:after {
    width: 200%;
    height: 200%;
    opacity: 1;
  }